<div id="menu">
	<div id="hamburger_wrapper">
		<div id="hamburger"></div>
	</div>
</div>
<nav>
	<a href="{{ path('homepage') }}">Accueil</a>
	<a href="{{ path('customer_card_all') }}">Toutes les fiches client</a>
	<a href="{{ path('customer_card_search') }}">Chercher une fiche client</a>
	<a href="{{ path('customer_new') }}">Créer un nouveau client</a>
</nav>