{% extends '::base.html.twig' %}

{% block subtitle %} - {% block pagetitle %}{% endblock %}{% endblock %}

{% block stylesheets %}
    {% stylesheets
        'public/js/froala_editor_2.6.0/css/froala_editor.min.css'
        'public/js/froala_editor_2.6.0/css/froala_editor.pkgd.min.css'
        'public/js/froala_editor_2.6.0/css/themes/dark.min.css'
        'public/js/froala_editor_2.6.0/css/themes/gray.min.css'
        'public/js/froala_editor_2.6.0/css/themes/red.min.css'
        'public/js/froala_editor_2.6.0/css/themes/royal.min.css'
        'public/css/font-awesome-4.7.0/css/font-awesome.min.css'
        'public/js/components/chosen/css/chosen.min.css'
        'public/less/layout.less'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% block pagestylesheets %}{% endblock %}
{% endblock %}

{% block body %}
    <header>
        {% include '::header.html.twig' %}
    </header>
    <main>
        {% block container %}{% endblock %}
    </main>
    <footer>
        {% include '::footer.html.twig' %}
    </footer>
{% endblock %}

{% block javascripts %}
    {% javascripts
        'public/js/components/jquery/jquery.min.js'
        'public/js/components/chosen/js/chosen.jquery.min.js'
        'public/js/froala_editor_2.6.0/js/froala_editor.pkgd.min.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    {% block pagejavascripts %}{% endblock %}
{% endblock %}
