{% extends '::base.html.twig' %}

{% block subtitle %} - {% block pagetitle %}{% endblock %}{% endblock %}

{% block stylesheets %}
    {% stylesheets 'public/less/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% block pagestylesheets %}{% endblock %}
{% endblock %}

{% block body %}
    <header>
        {% include '::header.html.twig' %}
    </header>
    <main>
        {% block container %}{% endblock %}
    </main>
    <footer>
        {% include '::footer.html.twig' %}
    </footer>
{% endblock %}

{% block javascripts %}
    {% javascripts
        'public/js/components/chosen/js/chosen.jquery.min.js'
        'public/js/components/jquery/jquery.min.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% block pagejavascripts %}{% endblock %}
{% endblock %}
