body {
	background-color: #282930;
	font-family:      'Ubuntu', Tahoma, sans-serif;

	header {
	}
	main {
		width: 100%;
		color: #F2DBDB;

		h1 {
			width:       80%;
			margin:      auto;
			text-align:  center;
			color:       #CE4D4D;
			text-shadow: 0px 0px 2px #5D2F41;
		}

		#container {
			margin: 2% 2% 0 2%;
		}
	}
	footer {
	}
}